* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.spacer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.section {
    position: relative;
    background: rgb(69,132,180);
    /* background: linear-gradient(0deg, var(--bg-gradient-ground) 0%, rgba(30,72,119,1) 100%); */
}

.carousel-buttons {
    position: absolute;
    inset: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-button {
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    cursor: pointer;
}

#c {
    width: 100%;
    height: 100vh;
    display: block;
}